[user]
    email = ateagletek@gmail.com
    name = Josh O'Connell
[alias]
    lol = log --all --pretty=format:'%C(yellow)%h%Cgreen%d %Creset%s %Cblue<%an> %Cred[%ad] %Creset' --date=relative --graph
    lol2 = log --all --pretty=format:'%C(yellow)%h %Cblue<%an> %Cred[%ad] %Creset%s%Cgreen%d %Creset' --date=relative --graph
    last = log -1 HEAD
    st = status -sb
    root = rev-parse --show-toplevel
    cfg = config --global -l
    cur = rev-parse --abbrev-ref HEAD
    amend = commit --amend -c HEAD
    ignored = ls-files --other --ignored --exclude-standard
    pvp = push -v --progress
[push]
    default = current
[credential]
    helper = cache --timeout 86400
[merge]
    tool = meld
[color]
    ui = auto
[mergetool]
    prompt = false
    keeptemporaries = false
    keepbackup = false
[http]
    postBuffer = 2147483647
[core]
	autocrlf = false
